body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

          .logo-img {
      width: 100px; /* Définissez la largeur souhaitée pour l'image */
      height: 100px; /* Définissez la hauteur souhaitée pour l'image */
    }

    .resto-name{
      padding-left: 0;
    }

    .restaurant-container{
      width: 500px;
      align-items: flex-start;
      align-content:flex-start;
    }